
body {
  margin: 0;

}
header {
  position: relative;
  background-color: #144072;
  padding: 0 auto;
  margin: 0 auto;
  height: 75px;
}
.MainNav {
  display: flex;
  padding: 0 auto;
  border: 0;
}

.MainNav div {
  width: 33%;

}
.NavLeft {
  float: left;
  color: white;
  padding-top: 25px;
  display: flex;
  justify-content: right;
}
.NavLeft ul li:first-child {
  font-weight: 1000;
}

.headerText {
  position: relative;
  padding-top: 0px;
  padding-left: 9px;
  display: flex;
  justify-content: center;
  text-align: center;
  overflow: visible;
}
.headerText .Alex {
  color: white;
  font-size: 32px;
  text-align: center;
} 

.NavRight {
  float: right;
  color: white;
  padding-top: 25px;
  display: flex;
  justify-content: left;
}
header li {
  display: inline-block;
  padding: 0px 25px;
}
header p {
  display: inline-block;
}
/* Main Nav */


.heroImg{
  height: 865px;

  padding: 0 auto;
  background-image: url(../images/SKI.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  margin: 0 auto;
}

.heroButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.heroImg .UX {
  color: white;
  margin: 0 0;
  padding-top: 14px;
  text-align: center;
  font-size: 22px;
} 



/*
.navBar .nav-link {
  color: #fdd20b;
  font-size: 20px;
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
}
a:hover {
  color: #ef08b4;
}
.navBar .nav-link:hover {
  border-bottom: 2px solid #fdd20b;
  border-bottom-width: fit-content; 
} */

.content {
  max-width: 350px;
  margin: 0px;
  text-align: center;
  

}
.HeroText {
margin-top: 420px;
padding-top: 30px;
padding-left: 100px;
width: 350px;

}
.content .top {
font-size: 20px;
}
.content .bottom {
font-size: 20px;
font-weight: 550;
}

/*
button {
  padding: 15px;
  background-color: #373738;
  color: white;
  font-size: 15px;
  border-radius: 4px;
}
*/

  /* My UX Skills Section */
.heading {
  text-align: center;
  margin: 0 0;
  padding-top: 100px;
  font-size: 30px;
  background-color: rgb(248, 244, 238);
}

.skill2 {
  padding-top: 0;
  margin-top: 0;  
  border-top: 0;
}

.flexContainer {
  display: flex;
  align-items: initial;
  justify-content: center;
  padding: 5% 5%;
  background-color: rgb(248, 244, 238);
}

.stripe {
  margin-bottom: 0;
  border-bottom: 0;
  padding-bottom: 0;
  background-color: #F8F4EE;
  display: flex;
  justify-content: center;
}
.stripe img {
  max-width: 1920px;
  max-height: 20px;
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;

}

@media screen and (max-width: 600px) {
  .flexContainer {
    display: inline-block;
    padding: 5% 15%;
  }
}

.flexContainer div {
  width: 33%;
  padding: 25px;
}

@media screen and (max-width: 600px) {
  .flexContainer div {
    width: 100%;
  }
}



/* My Work Section */
.WorkHeading {
  text-align: center;
  font-size: 30px;
  margin: 0 auto;
  padding-top: 100px;
}
.myWork {
  padding: 20px 90px;
  background-color: #F8F4EE;
}

.workGrid {
  display: grid;
  align-items: center;
  padding: 30px;
  grid-template-columns: 60% 20%;
  grid-template-rows: 500px 650px;
  grid-template-areas:
  "img2 content2"
  "img1 content1"
}

.workGrid .img2 {

}

@media screen and (max-width:600px) {
  .workGrid {
    display: grid;
    padding: 30px;
    padding-right: 90px;
    grid-template-columns: 100%;
    grid-template-rows: 600px 600px 700px 600px;
    grid-template-areas:
    "img1"
    "content1"
    "img2"
    "content2"
  }
}

.workGrid img {
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
  display: block;
}
.img1 {
  grid-area: img1;
}
.img2 {
  grid-area: img2;
}
.img1, .img2, .content1, .content2, {
  padding: 80px;
  padding-right: 0;
}
.content1 {
  grid-area: content1;
}
.content2 {
  grid-area: content2;
}

footer {
  background-color: #144072;
  padding: 35px;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 20px;
}
footer ul {
  list-style: none;
  padding-left: 5px;
}
footer li {
  display: inline-block;
  padding: 0px 7px;
}


/* Text decoration - Underline - Event listener */
header li:hover {
  text-decoration: underline;
}

#header-input:checked + #hamburger-menu #sidebar-menu {
    visibility: visible;
    left: 0;
}
#header-input:checked ~ .overlay{
   visibility: visible;
  opacity: 0.4;
}



/* CASE STUDY CSS */
.casestudyheader{
  margin-top: 20px;
  background-color: white;
}

.casestudyheader img {
  background-color: white;
}


.list-group a {
  display: flex;
  width: 50%;
  
}

.introGrid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
  gap: 16px;
  grid-template-areas: 
  "summaryTitle summaryText"
  ;
}


. {
  margin: 0 auto;
  background-color: #542f65;
  color: #fdd20b;
  padding: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userFlow img{
  max-width: 1600px;
}

.styleTile img{
  max-width: 1200px;
}

.ALL {
  margin-left: 280px;
  margin-right: 280px;
  scale:0.97;
}

.caseStudyFooter {
  padding: 0 0;
}

.introImage {
margin-bottom: 100px;
}

.cardDiv {
display: flex;
justify-content: center;
padding-right: 200px;

}

.introGrid{
margin-top: 100px;
margin-bottom: 100px;
}

.introText {
padding-top: 100px;
}

.list-group {
padding-left: 50px;
padding-top: 50px;
}

.projectOverview {
margin-bottom: 80px;
}

.divider1 {
margin-bottom: 150px;
}

.researchQuote {
margin-top: 20px;
margin-bottom: 100px;
font-size: 3;
}
.researchText {
max-width: 800px;
margin-bottom: 100px;
}

.researchImage2 {
margin-bottom: 100px;
}

.divider {
margin-top: 80px;
margin-bottom: 150px;
}

.userFlowImage{
scale:.9;
padding-right: 350px;
}

.sixcol {
margin-top: 50px;
margin-bottom: 50px;
}

.styleTile{
margin-bottom: 90px;
}


#designProcessText {
padding-top: 60px;
padding-bottom: 20px;
}

.prototypes {
margin: 0;
}
.sixcolFinal {
margin-top: 50px;
margin-bottom: 0;
}

.sixcol3 {
margin:0 auto;
}

.caseStudyFooter{
height: 170px;
align-items: center;
}

